{% include 'header.twig' %}
<script>
    function updateStatus(orderId){
        $.ajax({
            type: "POST",
            url: "http://localhost:5000/order/updateStatus",
            data: JSON.stringify({
                "status" : document.getElementById("selectStatus"+orderId).value,
                "id" : orderId,
            }),
            contentType: "application/json",
            success: function(response) {
                if (response == "Updated")
                    location.reload()
            }
        });
    }
</script>
<!-- cart-main-area start -->
<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <select id="filterStatus" onchange="filterByStatus()" class="form-select float-right mb-3" aria-label="Default select example">
                    <option value="all" selected>Order Status</option>
                    <option value="all">All</option>
                    <option value="open">Open</option>
                    <option value="closed">Closed</option>
                </select>
                <form action="#">
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                            <tr class="title-top">
                                <th class="product-thumbnail">#</th>
                                <th class="product-name">Order Date</th>
                                <th class="product-price">Address</th>
                                <th class="product-quantity">Zip Code</th>
                                <th class="product-quantity">Num Tel</th>
                                <th class="product-subtotal">Total</th>
                                <th class="product-subtotal">Payment Id</th>
                                <th class="product-subtotal">Status</th>
                                <th class="product-remove">View Items</th>
                                <th class="product-remove">Update Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in orders %}
                                <tr>
                                    <td class="product-remove">{{ row.id }}</td>
                                    <td class="product-price">{{ row.order_date }}</a></td>
                                    <td class="product-price">{{ row.address }}</td>
                                    <td class="product-price">{{ row.zip_code }}</td>
                                    <td class="product-price">{{ row.num_tel }}</td>
                                    <td class="product-price">{{ row.total_price }}</td>
                                    <td class="product-quantity">{{ row.paymentid }}</td>
                                    <td class="product-price">{{ row.status }}</td>
                                    <td class="product-remove"><img
                                                data-toggle="modal"
                                                data-target="#orderItemsModal{{ row.id }}"
                                                style="width: 40px;" src="/images/icons/show.png">
                                    <td class="product-price">
                                        <div class="input-group">
                                            <select class="custom-select" onchange="updateStatus({{ row.id }})" id="selectStatus{{ row.id  }}">
                                                <option selected>Choose...</option>
                                                <option value="untreated">Untreated</option>
                                                <option value="inDelivery">In Delivery</option>
                                                <option value="treated">Treated</option>
                                            </select>

                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
{% for order in orders %}
    <div id="orderItemsModal{{ order.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="padding: 10px;">
                <div class="table-content wnro__table table-responsive">
                    <table>
                        <thead>
                        <tr class="title-top">
                            <th class="product-thumbnail">Image {{ index }}</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-price">Type</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for row in order.items %}
                            <tr style="{{ row.type == 'ONLINE' ? 'opacity : 30%' : '' }}">
                                <td class="product-thumbnail"><a href="#"><img src="http://localhost:5000/book/getBookImage/{{ row.image }}"
                                                                               alt="product img"></a></td>
                                <td class="product-name"><a href="#">{{ row.title }}</a></td>
                                <td class="product-price"><span class="amount">{{ row.price }} TND</span></td>
                                <td class="product-price">{{ row.type }}</td>
                                <td class="product-quantity"><input readonly type="number"
                                                                    value="{{ row.orderedQuantity }}"></td>
                                <td class="product-subtotal">{{ row.price * row.orderedQuantity }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<script>
    function filterByStatus(){
        let select  = document.getElementById("filterStatus").value;
        window.location.href = '/order/ordersList/'+select;
    }
</script>

<!-- cart-main-area end -->
{% include 'footer.twig' %}
