{% include 'header.twig' %}
<!-- Start Checkout Area -->
<script>
    // var currentUser = JSON.parse(sessionStorage.getItem("currentUser"));
    // console.log("Checkout User => ",currentUser)
    // document.getElementById("fullName").value = currentUser.full_name;
    // document.getElementById("numTel").value = currentUser.numTel;
    // document.getElementById("email").value = currentUser.email;
</script>
<section class="wn__checkout__area section-padding--lg bg__white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wn_checkout_wrap">

                    <div class="checkout_info">
                        <span>Have a coupon? </span>
                        <a class="showcoupon" href="#">Click here to enter your code</a>
                    </div>
                    <div class="checkout_coupon">

                            <div class="form__coupon">
                                <input type="text" id="coupon" placeholder="Coupon code">
                                <button onclick="applyCoupon()">Apply coupon</button>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="customer_details">
                    <h3>Billing details</h3>
                    <div class="customar__field">
                        <div class="input_box">
                            <label>Full Name <span>*</span></label>
                            <input type="text" id="fullName" value="{{ currentUser.full_name }}">
                        </div>

                        <div class="input_box">
                            <label>Address <span>*</span></label>
                            <input id="address" type="text" placeholder="Address">
                        </div>


                        <div class="input_box">
                            <label>Postcode / ZIP <span>*</span></label>
                            <input type="text" id="zipCode" placeholder="Zip Code">
                        </div>
                        <div class="margin_between">
                            <div class="input_box space_between">
                                <label>Phone <span>*</span></label>
                                <input type="text" id="numTel" value="{{ currentUser.telephone }}">
                            </div>

                            <div class="input_box space_between">
                                <label>Email address <span>*</span></label>
                                <input type="email" id="email" value="{{ currentUser.email }}">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
                <div class="wn__order__box">
                    <h3 class="onder__title">Your order</h3>
                    <ul class="order__total">
                        <li>Product</li>
                        <li>Total</li>
                    </ul>
                    {% set total = 0 %}
                    <ul class="order_product">
                        {% for row in rows %}
                            <li>{{ row.title }} × {{ row.bQuantity }}<span>{{ row.price * row.bQuantity }} TND</span></li>
                            {% set total = total + row.price * row.bQuantity %}
                        {% endfor %}
                    </ul>

                    <ul class="total__amount">
                        <li>Order Total <span>{{ total }} TND</span></li>
                        <li  style="color: darksalmon;">Coupon Reduction <span><span style="float: revert;" id="couponValue">0</span> TND</span></li>
                        <li>To Pay <span><span style="float: revert;" id="totalPrice">{{ total }}</span> TND</span></li>
                    </ul>
                </div>
                <div id="accordion" class="checkout_accordion mt--30" role="tablist">

                    <div class="payment">
                        <div class="che__header" role="tab" id="headingThree">
                            <a class="collapsed checkout__title" data-toggle="collapse" href="#collapseThree"
                               aria-expanded="false" aria-controls="collapseThree">
                                <span>Cash on Delivery</span>
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                             data-parent="#accordion">
                            <div class="payment-body">Pay with cash upon delivery.</div>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="che__header" role="tab" id="headingFour">
                            <a class="collapsed checkout__title" data-toggle="collapse" href="#collapseFour"
                               aria-expanded="false" aria-controls="collapseFour">
                                <span>PayPal <img src="/images/icons/payment.png" alt="payment images"> </span>
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                             data-parent="#accordion">
                            <div class="payment-body">
                                <form>

                                    <div class="form-group">
                                        <label for="cusName">Customer name</label>
                                        <input type="text" class="form-control" id="cusName"
                                               placeholder="Customer Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="cardNumber">Card number</label>
                                        <input type="text" class="form-control" id="cardNumber"
                                               placeholder="Card Number">
                                    </div>
                                    <label>Expiration date</label>
                                    <div class="form-row">
                                        <select id="exp_month" style="max-width: 150px"
                                                class="form-control form-control-sm">
                                            {% for i in 1..12 %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}

                                        </select>
                                        <select id="exp_year" style="margin-left:5px;max-width: 200px"
                                                class="form-control form-control-sm">
                                            {% for i in 2021..2040 %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="ccvNumber">CCV</label>
                                        <input type="password" pattern="[0-9]*" maxlength="3" class="form-control"
                                               id="ccvNumber" placeholder="CCV">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12 text-center">
            <button id="submitBtn" onclick="checkSubmit()" type="button" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-warning">Cancel</button>
        </div>
    </div>

</section>
<!-- End Checkout Area -->
<script>
    var currentUser = JSON.parse(sessionStorage.getItem("currentUser"));
    console.log("Checkout User => ", currentUser)
    document.getElementById("fullName").value = currentUser.full_name;
    document.getElementById("numTel").value = currentUser.numTel;
    document.getElementById("email").value = currentUser.email;

    function checkSubmit() {
        var BreakException = {};
        try {
            let champs = ['fullName', 'address', 'zipCode', 'numTel', 'email', 'exp_month', 'exp_year', 'cardNumber'];
            champs.forEach(champ => {
                if (document.getElementById(champ).value.length == 0) {
                    toastr.warning("Merci de completer le champ " + champ);
                    throw BreakException
                }
            })
            doPayment()
        } catch (e) {
            return false
        }
        return true;
    }

    function doPayment() {
        $.ajax({
            type: "POST",
            url: "http://localhost:5000/payment/checkCredentials",

            data: JSON.stringify({
                "exp_month": document.getElementById("exp_month").value,
                "exp_year": document.getElementById("exp_year").value,
                "cardNumber": document.getElementById("cardNumber").value
            }),
            contentType: "application/json",
            success: (response) => {
                console.log("Return of check cred = ", response)
                if (response == "ok")
                    $.get("http://localhost:5000/payment/checkBalance/" + document.getElementById("totalPrice").innerHTML, function (data) {
                        console.log("check price", data)
                        if (data == "true") {
                            doOrderSave()
                        }else{
                            toastr.warning("You don't have enough money !!!")
                        }
                    });
                else{
                    toastr.warning("Please check your payment credentials !!!")
                }
            }

        });
    }

    function doOrderSave() {
        $.ajax({
            type: "POST",
            url: "http://localhost:5000/order/add",

            data: JSON.stringify({
                "userId": Number(currentUser.userId),
                "totalPrice": Number(document.getElementById("totalPrice").innerHTML),
                "address": document.getElementById("address").value,
                "zipCode": Number(document.getElementById("zipCode").value),
                "numTel": document.getElementById("numTel").value,
                "status": "untreated"
            }),
            contentType: "application/json",
            success:  (response) => {
                if (response == "Done"){
                    deleteBasket()
                }
            }
        });
    }

    function applyCoupon(){
        let coupon = document.getElementById("coupon").value;
        if (!coupon) return
        $.get("http://localhost:5000/coupon/get/" + coupon, function (data) {
            console.log("check coupon", data)
            if (data != "No such coupon") {
                let obj = JSON.parse(JSON.stringify(data));
                let tot = Number(document.getElementById("totalPrice").innerHTML) - Number(obj.amount);
                document.getElementById("totalPrice").innerHTML = tot;
                document.getElementById("totalPrice").innerHTML = tot;
                document.getElementById("couponValue").innerHTML = obj.amount
                toastr.success('Coupon applied successfully')

            }else{
                let tot = Number(document.getElementById("totalPrice").innerHTML) + Number(document.getElementById("couponValue").innerHTML);
                document.getElementById("totalPrice").innerHTML = tot;
                document.getElementById("totalPrice").innerHTML = tot;
                document.getElementById("couponValue").innerHTML = "0"
                toastr.warning('Invalid Coupon Code')

            }
        });
    }

    function deleteCoupon(){
        let coupon = document.getElementById("coupon").value;
        if (!coupon) return
        $.get("http://localhost:5000/coupon/delete/" + coupon, function (data) {
            console.log("delete coupon", data)
            if (data == "Coupon deleted successfuly") {
                redirectToMoyOrders()
            }
        });
    }

    function deleteBasket(){
        let coupon = document.getElementById("coupon").value;
        $.get("http://localhost:5000/basket/deleteUserBasket/" + JSON.parse(sessionStorage.currentUser).userId, function (data) {
            if (data == "Deleted") {
                if (coupon)
                    deleteCoupon()
                else
                    redirectToMoyOrders()
            }
        });
    }

    function redirectToMoyOrders(){
        toastr.success("You order has been saved successfully.")
        window.location.href = "/order/myOrders/open";
    }
</script>
{% include 'footer.twig' %}
