{% include 'header.twig' %}

<!-- Start Shop Page -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    <aside class="wedget__categories poroduct--cat">
                        <h3 class="wedget__title">Product Categories</h3>
                        <ul>
                            <li>
                                <a onclick="filterByCategory('All')">All <span>({{ books.length }})</span></a>
                            </li>
                            {% for c in categories %}
                                <li>
                                    <a onclick="filterByCategory('{{ c.name }}')">
                                        {{ c.name }} <span>({{ c.count }})</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <aside class="wedget__categories pro--range">
                        <h3 class="wedget__title">Filter by price</h3>
                        <div class="content-shopby">
                            <div class="price_filter s-filter clear">
                                <form action="#" method="GET">
                                    <div id="slider-range"></div>
                                    <div class="slider__range--output">
                                        <div class="price__output--wrap">
                                            <div class="price--output">
                                                <span>Price :</span>
                                                <input type="text" id="amount" readonly="">
                                            </div>
                                            <div class="price--filter">
                                                <button type="button" class="btn btn-dark" onclick="filterByPrice()">
                                                    Filter
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </aside>

                </div>
            </div>
            <div class="col-lg-9 col-12 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                            <div class="shop__list nav justify-content-center" role="tablist">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i
                                            class="fa fa-th"></i></a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i
                                            class="fa fa-list"></i></a>
                            </div>
                            <p>Showing all items ({{ books.length }}) </p>
                        </div>
                    </div>
                </div>
                <div class="tab__container">
                    <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                        <div class="row">
                            {% for book in books %}
                                <!-- Start Single Product -->
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 book" id="book{{ book.id }}"
                                     data-price="{{ book.price }}" data-category="{{ book.name }}">
                                    <div class="product">
                                        <div class="product__thumb">
                                            <a class="first__img" href="/book/bookDetails/{{ book.id }}"><img
                                                        src="http://localhost:5000/book/getBookImage/{{ book.image }}"
                                                        alt="product image"></a>

                                            <ul class="prize position__right__bottom d-flex">
                                                <li>{{ book.price }} TND</li>
                                            </ul>
                                            <div class="action">
                                                <div class="actions_inner">
                                                    <ul class="add_to_links">
                                                        <li><a class="cart" href="cart.html"></a></li>
                                                        <li><a class="wishlist" href="wishlist.html"></a></li>
                                                        <li><a class="compare" href="compare.html"></a></li>
                                                        <li><a data-toggle="modal" title="Quick View"
                                                               class="quickview modal-view detail-link"
                                                               href="#productmodal"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content">
                                            <h4><a href="/book/bookDetails/{{ book.id }}">{{ book.title }}</a></h4>
                                            <ul class="rating d-flex">
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Product -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
<script>
    function filterByPrice() {
        let min = parseInt(document.getElementById("amount").value.split("-")[0].trim().substring(3))
        let max = parseInt(document.getElementById("amount").value.split("-")[1].trim().substring(3))
        console.log(min, max)
        let tab = document.getElementsByClassName("book")
        for (let i = 0; i < tab.length; i++) {
            if (tab[i].getAttribute("data-price") < max && tab[i].getAttribute("data-price") > min) {
                tab[i].style.display = "grid"
            } else {
                tab[i].style.display = "none"
            }
        }
    }


    function filterByCategory(c) {
        let tab = document.getElementsByClassName("book")
        for (let i = 0; i < tab.length; i++) {
            if (tab[i].getAttribute("data-category") == c || c=="All") {
                tab[i].style.display = "grid"
            } else {
                tab[i].style.display = "none"
            }
        }
    }
</script>
{% include 'footer.twig' %}
