
{% include 'header.twig' %}
<!-- cart-main-area start -->
<style>
    .book-image-small{
        height: 100px;
        width: 80px;
    }
</style>
<div class="wishlist-area section-padding--lg bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="wishlist-content">
                    <form action="#">
                        <div class="wishlist-table wnro__table table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th class="product-remove"></th>
                                    <th class="product-thumbnail"></th>
                                    <th class="product-name"><span class="nobr">Product Name</span></th>
                                    <th class="product-price"><span class="nobr"> Unit Price </span></th>
                                    <th class="product-stock-stauts"><span class="nobr"> Stock Status </span></th>
                                    <th class="product-add-to-cart"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in rows %}
                                    <tr>
                                        <td class="product-remove"><a onclick="removeElement({{ row.book_id }})">×</a></td>
                                        <td class="product-thumbnail">
                                            <a href="#">
                                                <img class="book-image-small" src="http://localhost:5000/book/getBookImage/{{ row.image }}" alt="">
                                            </a>
                                        </td>
                                        <td class="product-name"><a href="#">{{ row.title }}</a></td>
                                        <td class="product-price"><span class="amount">${{ row.price }}</span></td>
                                        <td class="product-stock-status">
													<span class="wishlist-in-stock">
														{% if row.quantity > 1 %}
                                                            Available
                                                        {% else %}
                                                            Sold-out!
                                                        {% endif %}
													</span>
                                        </td>
                                        <td class="product-add-to-cart"><a onclick="addToCard({{ row.book_id }})"> Add to Cart</a></td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function removeElement(bookId){
        $.ajax({
            type: "POST",
            url: "http://localhost:5000/wishList/delete",
            data: JSON.stringify({
                "userId" : 3/*userId*/,
                "bookId" : bookId
            }),
            contentType: "application/json",
            success: function(response) {
                console.log("Return of delete book from wishList = ",response)
                if (response == "Deleted")
                    location.reload()
            }
        });
    }
</script>
<!-- cart-main-area end -->
{% include 'footer.twig' %}
